*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: normal;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 228px;
}

:root {
    --text-size-medium: 16px;
}



.header__logo {
    display: block;
    width: 40px;
    height: 40px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header {
    padding: 40px 110px 40px 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 10;
}

.header__button {
    margin-left: 553px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    font-size: var(--text-size-medium);
    line-height: 150%;
}

.header__nav a:not(:last-child) {
    margin-right: 71px;
}

.header__nav a {
    font-size: var(--text-size-medium);
    line-height: 150%;
}

.button {
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
}

.main-display__header {
    font-size: 64px;
    max-width: 760px;
    margin-bottom: 50px;
    font-weight: 700;
    line-height: 140%;
}

.timer__item {
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-display__timer {
    display: flex;
    margin-bottom: 76px;
}

.timer__item:not(:last-child) {
    margin-right: 30px;
}

.timer__count {
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
}

.timer__text {
    opacity: 0.4;
    font-size: var(--text-size-medium);
    line-height: 140%;
}

.main-display__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    line-height: 150%;
}

.main-display__background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-display .container {
    position: relative;
    z-index: 2;
}

.main-display {
    padding-top: 270px;
}

.work {
    margin-top: 200px;
    margin-bottom: 243px;
}

.work__wrap {
    display: flex;
}

.work__img {
    width: 526px;
    height: 499px;
    margin-right: 139px;
}

.work__header {
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
}

.work__description {
    font-size: var(--text-size-medium);
    line-height: 160%;

}

.work__text {
    max-width: 636px;
    margin-top: 69px;
}

.process {
    margin-bottom: 200px;
    position: relative;
}

.process__img {
    width: 90px;
    height: 45px;
    margin-right: 20px;
}

.process__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 49px;
    padding-top: 10px;
}

.process__title {
    display: flex;
}

.process__description {
    line-height: 160%;
    max-width: 411px;
    opacity: 0.5;
    font-size: var(--text-size-medium);
    margin-bottom: 80px;
}

.process__work {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 65px;
}

.process__text {
    font-size: 14px;
    line-height: 160%;
    opacity: 0.5;
}

.process__columns {
    display: flex;
}

.process__item {
    max-width: 306px;
}

.process__columns::after {
    content: '';
    display: block;
    width: 1300px;
    height: 2px;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.process .process__img {
    transform: rotate(45deg);
}

.command__title {
    margin-bottom: 119px;
}

.command__header {
    margin-bottom: 0;
}

.command__wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
}

.command {
    padding-bottom: 200px;
}

.command__img {
    width: 190px;
    height: 190px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.command__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.command__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
}

.command__professional {
    font-size: var(--text-size-medium);
    line-height: 160%;
    margin-bottom: 30px;
    opacity: .8;
}

.command__link {
    font-size: var(--text-size-medium);
    line-height: 150%;
    border: 1px solid white;
}

.assembly {
    padding-bottom: 244px;

}

.assembly__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.assembly__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 30px;
}

.assembly__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
    margin-bottom: 45.2px;
    opacity: 0.5;
}

.assembly__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    font-weight: 700;
    font-size: var(--text-size-medium);
    line-height: 150%;
    margin-bottom: 58.8px;
}

.assembly__socials {
    display: flex;
}

.assembly__item {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assembly__item img {
    width: 50%;
    height: 50%;
}

.assembly__item:not(:last-child) {
    margin-right: 30px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 30px 0px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal__iner {
    width: 663px;
    padding: 90px 1px;
    background: #2C2C2C;
    text-align: center;
    position: relative;
}

.modal__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 10px;
}

.modal__subheader {
    font-size: 16px;
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 28px;
}

.modal__item {
    height: 44px;
}

.modal__elements {
    margin: 0 auto 32px auto;
    width: 454px;
}

.modal__input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.8;
    padding-left: 10px;
}

.modal__item:not(:last-child) {
    margin-bottom: 18px;
}

.modal__close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.nonscroll {
    overflow: hidden;
    height: 100%;
}